<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="container">
            {{{body}}}
        </div>
    </div>
</div>
<ul>
    {{#each posts}}
    <li class="list-group-item">{{this.title}}</div>
        <a href="{{this.url}}" target="_blank">{{this.url}}</a>
    </li>
    {{each}}
</ul>
